*{margin:0;padding:0;}
ul,ol{list-style:none;}
a{text-decoration:none;color:inherit;}
h1,h2,h3,h4,h5,h6{font-weight:normal;font-size:inherit;}
address,i,em{font-style:normal;}
b,strong{font-weight:normal;}
table{border-collapse:collapse;}

:root {
    --main-black-color: #0e0e0e;
    --light-grey-color: #C4C4C4;
    --background-neon-color: #D2FB3F;
    --dark-neon-color: #A1BF31;

    --h1-text-size:22px;
    --text-size:18px;
}

body {
    background: var(--background-neon-color);
    font-family: 'Noto Sans KR', sans-serif;
    color: var(--main-black-color);
    font-size: var(--text-size);
    font-weight: 400;
    margin-bottom: 50px;
}

.allWrap {
    /* width: 90%; */
    min-width: 300px;
    max-width: 1200px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

header {
    height: 84px;
    border-bottom: 1px solid var(--dark-neon-color);
    display: flex;
    align-items: center;
    font-family: 'Red Hat Display', sans-serif;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: -0.03em;
}

.title {
    width: 100%;
    height: 150px;
    font-size: var(--h1-text-size);
    border-bottom: 1px solid var(--dark-neon-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.title h1 {
    font-weight: bold;
}

.contentsDes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 32px;
    margin-bottom: 32px;
}

.contentsTitle {
    font-weight: 500;
    margin-right: 30px;
    margin-bottom: 30px;
}

.description {
    width: 543px;
}

.description p:nth-of-type(1) {
    margin-bottom: 20px;
}


.photos_wrap {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.photos_wrap .contentsPhotos {
    margin-inline: 10px;
}

.photo-col2 {
    height: 580px;
    width: 580px;
}
.photo-col1 {
    width: 100%;
}


.photos_wrap_bg_e0e0e0 {
    background-color: #e0e0e0;
}

.photos_wrap_bg_afafac {
    background-color: #afafac;
}


@media (max-width:1200px) {
    .photos_wrap {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .photo-col2 {
        height: 100%;
        width: 100%;
        margin-bottom: 30px;
        margin-bottom: 30px;
    }
    .photos_wrap .contentsPhotos {
        margin-inline: 0px;
    }
    
}

.photos_wrap .contentsPhotos img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.allWrap header ul {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.allWrap .works {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}